@charset "UTF-8";
/**
 * 仅用于利用vscode的转化插件功能，
 * 
 * 仅用于模拟Vue组件中的script scope
 * 因为 esbuild-plugin-vue 有一个问题: https://github.com/pipe01/esbuild-plugin-vue3/issues/30
 * 作为伪scoped，需要注意好隔离性
 */
/**
 * CommonNode.vue
 * 
 * 结构一：scoped外的部分
 *
 * .vue-flow.nf-node-flow
 *   .vue-flow__viewport vue-flow__container
 *     .vue-flow__pane vue-flow__container draggable
 *       .vue-flow__transformationpane.vue-flow__container
 *         svg
 *         svg
 *         .vue-flow__edge-labels               线所在区域
 *         .vue-flow__nodes.vue-flow__container 节点所在区域
 * 
 * 结构二：scoped内的部分
 *
 * .vue-flow__nodes vue-flow__container
 *   .vue-flow__node.vue-flow__node-common  // 这里还没进入scrop选择范围，往下就进入了
 *     div.common-node-id
 *     div.common-node                         
 *       div.node-title   h:30
 *       div.node-content
 *         .node-content-handle
 *         .node-content-self
 *       div.vue-flow__handle
 *     ...
 */
.common-node > .node-id {
  position: absolute;
  height: 0;
  line-height: 20px;
  font-size: 12px;
  width: 100%;
}

.common-node > .node-id div {
  position: relative;
  bottom: 22px;
  right: 4px;
  height: 20px;
  line-height: 20px;
  float: right;
  padding: 0 6px;
  background-color: #0f1f0f;
  color: #c9c9c9;
  border-radius: 6px;
}

.common-node > .node-main {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: 3px 3px 10px 2px #111;
}

.common-node > .node-main span {
  white-space: break-spaces;
  overflow-wrap: break-word;
}

.common-node > .node-main span code {
  white-space: pre;
}

.common-node > .node-main > .node-title {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding: 0 12px;
  border-radius: 8px 8px 0 0;
  color: #999999;
  background-color: rgba(46, 70, 86, 0.75);
}

.common-node > .node-main > .node-content {
  height: calc(100% - 30px);
  padding: 4px 24px 16px;
  border-radius: 0 0 8px 8px;
  color: #aaaaaa;
  background-color: rgba(53, 53, 53, 0.75);
}

.common-node > .node-main > .node-content > .node-content-handle, .common-node > .node-main > .node-content > .node-content-lr {
  display: flex;
  justify-content: space-between;
}

.common-node > .node-main > .node-content > .node-content-handle .line, .common-node > .node-main > .node-content > .node-content-lr .line {
  line-height: 24px;
  min-height: 24px;
  height: auto;
  font-size: 12px;
}

.common-node > .node-main > .node-content > .node-content-handle .line > .item-sub, .common-node > .node-main > .node-content > .node-content-lr .line > .item-sub {
  min-height: 16px;
}

.common-node > .node-main > .node-content > .node-content-handle .line > .item-value, .common-node > .node-main > .node-content > .node-content-lr .line > .item-value {
  line-height: 20px;
  height: auto;
  margin: 1px 8px 1px;
  border-radius: 10px;
  padding: 0px 8px;
  border: solid 1px #616161;
  background-color: #222222;
}

.common-node > .node-main > .node-content > .node-content-handle > .left, .common-node > .node-main > .node-content > .node-content-handle > .node-content-l, .common-node > .node-main > .node-content > .node-content-lr > .left, .common-node > .node-main > .node-content > .node-content-lr > .node-content-l {
  text-align: left;
  padding-right: 4px;
}

.common-node > .node-main > .node-content > .node-content-handle > .left > .line > .item-sub, .common-node > .node-main > .node-content > .node-content-handle > .node-content-l > .line > .item-sub, .common-node > .node-main > .node-content > .node-content-lr > .left > .line > .item-sub, .common-node > .node-main > .node-content > .node-content-lr > .node-content-l > .line > .item-sub {
  float: left;
}

.common-node > .node-main > .node-content > .node-content-handle > .right, .common-node > .node-main > .node-content > .node-content-handle > .node-content-r, .common-node > .node-main > .node-content > .node-content-lr > .right, .common-node > .node-main > .node-content > .node-content-lr > .node-content-r {
  text-align: right;
  padding-left: 4px;
}

.common-node > .node-main > .node-content > .node-content-handle > .right > .line > .item-sub, .common-node > .node-main > .node-content > .node-content-handle > .node-content-r > .line > .item-sub, .common-node > .node-main > .node-content > .node-content-lr > .right > .line > .item-sub, .common-node > .node-main > .node-content > .node-content-lr > .node-content-r > .line > .item-sub {
  float: right;
}

.common-node > .node-main > .node-content > .node-content-self > .line {
  box-sizing: border-box;
  min-height: 24px;
  height: auto;
  margin-bottom: 4px;
  padding: 1px 28px;
  border: solid 1px #616161;
  background-color: #222222;
  border-radius: 13px;
}

.common-node > .node-main > .node-content > .node-content-self > .line > .item-sub {
  line-height: 20px;
  min-height: 20px;
  height: auto;
  font-size: 12px;
}

.common-node > .node-main > .node-content > .node-content-self > .line > .item-sub > .item-name {
  float: left;
  padding-right: 4px;
}

.common-node > .node-main > .node-content > .node-content-self > .line > .item-sub > .item-value {
  float: right;
  padding-left: 4px;
}

.common-node[aria-label="Note"] .node-title {
  background-color: rgba(68, 51, 34, 0.9375);
}

.common-node[aria-label="Note"] .node-content {
  background-color: rgba(102, 85, 51, 0.9375);
}

.common-node[aria-label*="Sampler"] .node-title {
  background-color: rgba(34, 51, 51, 0.9375);
}

.common-node[aria-label*="Sampler"] .node-content {
  background-color: rgba(51, 85, 85, 0.9375);
}

.common-node[aria-label^="Group"] {
  min-width: 200px;
  height: 200px;
  z-index: -1;
}

.common-node[aria-label^="Group"] .node-content {
  background-color: rgba(46, 70, 86, 0.25);
}

.comfyui-node {
  /**
   * 结构一：scoped外的部分
   *
   * .vue-flow.nf-node-flow
   *   .vue-flow__viewport vue-flow__container
   *     .vue-flow__pane vue-flow__container draggable
   *       .vue-flow__transformationpane.vue-flow__container
   *         svg
   *         svg
   *         .vue-flow__edge-labels               线所在区域
   *         .vue-flow__nodes.vue-flow__container 节点所在区域
   * 
   * 结构二：scoped内的部分
   *
   * .vue-flow__nodes vue-flow__container
   *   .vue-flow__node.vue-flow__node-comfyui 
   *     div.comfyui-node                         // 从这里开始进入scrop选择范围
   *       div.node-id
   *       div.node-title   h:30
   *       div.node-content
   *         .node-handle-name
   *         .node-self-attr
   *       div.vue-flow__handle
   *     ...
   */
}

.comfyui-node > .node-id {
  position: absolute;
  height: 0;
  line-height: 20px;
  font-size: 12px;
  width: 100%;
}

.comfyui-node > .node-id > div {
  position: relative;
  bottom: 22px;
  right: 4px;
  height: 20px;
  line-height: 20px;
  float: right;
  padding: 0 6px;
  background-color: #0f1f0f;
  color: #c9c9c9;
  border-radius: 6px;
}

.comfyui-node > .node-main {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: 3px 3px 10px 2px #111;
}

.comfyui-node > .node-main .node-title {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding: 0 12px;
  border-radius: 8px 8px 0 0;
  color: #999999;
  background-color: rgba(46, 70, 86, 0.875);
}

.comfyui-node > .node-main .node-content {
  height: calc(100% - 30px);
  padding: 0 24px;
  padding-bottom: 16px;
  border-radius: 0 0 8px 8px;
  color: #aaaaaa;
  background-color: rgba(53, 53, 53, 0.875);
}

.comfyui-node > .node-main .node-content .item {
  line-height: 24px;
  min-height: 24px;
  height: auto;
  font-size: 12px;
}

.comfyui-node > .node-main .node-content .item-c {
  box-sizing: border-box;
  min-height: 24px;
  height: auto;
  margin-bottom: 4px;
  padding: 1px 12px;
  border: solid 1px #616161;
  background-color: #222222;
  border-radius: 13px;
}

.comfyui-node > .node-main .node-content .item-c .item {
  line-height: 20px;
  min-height: 20px;
  height: auto;
  font-size: 12px;
  white-space: break-spaces;
  overflow-wrap: break-word;
}

.comfyui-node > .node-main .node-content .node-handle-name {
  display: flex;
  justify-content: space-between;
}

.comfyui-node > .node-main .node-content .node-handle-name > .left {
  text-align: left;
}

.comfyui-node > .node-main .node-content .node-handle-name > .right {
  text-align: right;
}

.comfyui-node > .node-main[aria-label="Note"] .node-title {
  background-color: rgba(68, 51, 34, 0.9375);
}

.comfyui-node > .node-main[aria-label="Note"] .node-content {
  background-color: rgba(102, 85, 51, 0.9375);
}

.comfyui-node > .node-main[aria-label*="Sampler"] .node-title {
  background-color: rgba(34, 51, 51, 0.9375);
}

.comfyui-node > .node-main[aria-label*="Sampler"] .node-content {
  background-color: rgba(51, 85, 85, 0.9375);
}

.comfyui-node > .node-main[aria-label^="Group"] {
  min-width: 200px;
  height: 200px;
  z-index: -1;
}

.comfyui-node > .node-main[aria-label^="Group"] .node-content {
  background-color: rgba(46, 70, 86, 0.25);
}

.item-node .item-item {
  margin: calc(8px + 20px) 0 8px;
}

.item-node > .node-id {
  position: absolute;
  height: 0;
  line-height: 20px;
  font-size: 12px;
  width: 100%;
}

.item-node > .node-id div {
  position: relative;
  bottom: 22px;
  right: 4px;
  height: 20px;
  line-height: 20px;
  float: right;
  padding: 0 6px;
  background-color: #0f1f0f;
  color: #c9c9c9;
  border-radius: 6px;
}

.item-node > .node-main {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.item-node > .node-main {
  box-shadow: 3px 3px 10px 2px #111;
}

.item-node > .node-main.ready {
  box-shadow: 0 0 8px 3px lightgreen;
}

.item-node > .node-main.running {
  box-shadow: 0 0 8px 3px green;
}

.item-node > .node-main.error {
  box-shadow: 0 0 8px 3px red;
}

.item-node > .node-main .node-state {
  background-color: #666666;
}

.item-node > .node-main.ready .node-state {
  background-color: lightgreen;
}

.item-node > .node-main.running .node-state {
  background-color: green;
}

.item-node > .node-main.error .node-state {
  background-color: red;
}

.item-node > .node-main.over .node-state {
  background-color: cyan;
}

.item-node > .node-main > .node-title {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding: 0 12px;
  border-radius: 8px 8px 0 0;
  color: #999999;
  background-color: rgba(46, 70, 86, 0.75);
}

.item-node > .node-main > .node-title > .node-state {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
}

.item-node > .node-main > .node-content {
  height: calc(100% - 30px);
  padding: 4px 24px 16px;
  border-radius: 0 0 8px 8px;
  color: #aaaaaa;
  background-color: rgba(53, 53, 53, 0.75);
}

.item-node > .node-main > .node-content > .line.node-item {
  position: relative;
  font-size: 12px;
  min-height: 24px;
  margin-bottom: 4px;
}

.item-node > .node-main > .node-content > .line.node-item .vue-flow__handle.node-item-handle {
  border: none;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 7px;
  transform: none;
}

.item-node > .node-main > .node-content > .line.node-item .vue-flow__handle.node-item-handle[type-attr^="item-flow"] {
  background: transparent;
  border-radius: 0;
  border-left: 9px solid white;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.item-node > .node-main > .node-content > .line.node-item .vue-flow__handle.node-item-handle.target {
  float: left;
  left: -15px;
}

.item-node > .node-main > .node-content > .line.node-item .vue-flow__handle.node-item-handle.source {
  float: right;
  right: -15px;
}

.item-node > .node-main > .node-content > .line.node-item > .node-item-slot {
  width: 100%;
  box-sizing: border-box;
}

.item-node > .node-main > .node-content > .line.node-item > .node-item-slot div {
  box-sizing: border-box;
}

.item-node > .node-main > .node-content > .line.node-item > .node-item-slot .node-item-name {
  color: #aaaaaa;
  background: none;
  border: none;
}

.item-node > .node-main > .node-content > .line.node-item > .node-item-slot .node-item-value {
  color: #c9c9c9;
  background: none;
  border: none;
}

.item-node > .node-main > .node-content > .line.node-item > .node-item-slot .node-item-name {
  float: left;
}

.item-node > .node-main > .node-content > .line.node-item > .node-item-slot .node-item-value {
  float: right;
}

.item-node > .node-main > .node-content > .line.node-item > .node-item-slot.output .node-item-name, .item-node > .node-main > .node-content > .line.node-item > .node-item-slot.o .node-item-name {
  float: right;
}

.item-node > .node-main > .node-content > .line.node-item > .node-item-slot.output .node-item-value, .item-node > .node-main > .node-content > .line.node-item > .node-item-slot.o .node-item-value {
  float: left;
}

.vue-flow__node-comfyui-group.selected .comfyui-group {
  box-shadow: 0 0 8px 3px #ec4899;
}

.vue-flow__node-comfyui.selected .comfyui-node .node-main {
  box-shadow: 0 0 8px 3px #ec4899;
}

.vue-flow__node-common.selected .common-node .node-main {
  box-shadow: 0 0 8px 3px #ec4899;
}

.vue-flow__node-item.selected > .item-node > .node-main {
  box-shadow: 0 0 8px 3px #ec4899;
}

.vue-flow__handle {
  /**
   * Handle着色 (按首字母映射，且习惯将白色填第一)
   * 
   * 颜色来源：HSL(0步进18~360, 100%, 50%), 共得到20种颜色
   * 16进制根据在vscode环境下css文件打hsl，然后屏幕取色得到
   * hsl(0, 100, 50)     #ff0000
   * hsl(18, 100, 50)    #ff4d00
   * hsl(36, 100, 50)    #ff9900
   * hsl(54, 100, 50)    #ffe600
   * hsl(72, 100, 50)    #ccff00
   * hsl(90, 100, 50)    #80ff00
   * hsl(108, 100, 50)   #33ff00
   * hsl(126, 100, 50)   #00ff1a
   * hsl(144, 100, 50)   #00ff66
   * hsl(162, 100, 50)   #00ffb3
   * hsl(180, 100, 50)   #00ffff
   * hsl(198, 100, 50)   #00b3ff
   * hsl(216, 100, 50)   #0066ff
   * hsl(234, 100, 50)   #001aff
   * hsl(252, 100, 50)   #3300ff
   * hsl(270, 100, 50)   #8000ff
   * hsl(288, 100, 50)   #cc00ff
   * hsl(306, 100, 50)   #ff00e6
   * hsl(324, 100, 50)   #ff0099
   * hsl(342, 100, 50)   #ff004c
   * 
   * 可选 - 使用颜色优化排序 (使必要时能指定颜色)
   * 0            8
   * red          14
   * orange       11
   * yellow       1
   * green        3
   * cyam         19
   * blue         18
   * purple/pink  12
   */
  background-color: #a598dd;
}

.vue-flow__handle.custom {
  border: none;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
}

.vue-flow__handle.custom.target {
  left: 12px;
}

.vue-flow__handle.custom.source {
  right: 12px;
  border: solid 2px #211820;
}

.vue-flow__handle.custom[indexAttr="0"] {
  top: calc(30px + 0.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="1"] {
  top: calc(30px + 1.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="2"] {
  top: calc(30px + 2.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="3"] {
  top: calc(30px + 3.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="4"] {
  top: calc(30px + 4.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="5"] {
  top: calc(30px + 5.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="6"] {
  top: calc(30px + 6.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="7"] {
  top: calc(30px + 7.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="8"] {
  top: calc(30px + 8.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="9"] {
  top: calc(30px + 9.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="10"] {
  top: calc(30px + 10.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="11"] {
  top: calc(30px + 11.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="12"] {
  top: calc(30px + 12.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="13"] {
  top: calc(30px + 13.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="14"] {
  top: calc(30px + 14.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="15"] {
  top: calc(30px + 15.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="16"] {
  top: calc(30px + 16.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="17"] {
  top: calc(30px + 17.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="18"] {
  top: calc(30px + 18.5 * 24px);
}

.vue-flow__handle.custom[indexAttr="19"] {
  top: calc(30px + 19.5 * 24px);
}

.vue-flow__handle.default {
  /* background-color: red !important; */
  background: none !important;
  border: none;
}

.vue-flow__handle[nameMapAttr="0"] {
  background-color: #ff0000;
}

.vue-flow__handle[nameMapAttr="1"] {
  background-color: #ff4d00;
}

.vue-flow__handle[nameMapAttr="2"] {
  background-color: #ff9900;
}

.vue-flow__handle[nameMapAttr="3"] {
  background-color: #ffe600;
}

.vue-flow__handle[nameMapAttr="4"] {
  background-color: #ccff00;
}

.vue-flow__handle[nameMapAttr="5"] {
  background-color: #80ff00;
}

.vue-flow__handle[nameMapAttr="6"] {
  background-color: #33ff00;
}

.vue-flow__handle[nameMapAttr="7"] {
  background-color: #00ff1a;
}

.vue-flow__handle[nameMapAttr="8"] {
  background-color: #00ff66;
}

.vue-flow__handle[nameMapAttr="9"] {
  background-color: #00ffb3;
}

.vue-flow__handle[nameMapAttr="10"] {
  background-color: #00ffff;
}

.vue-flow__handle[nameMapAttr="11"] {
  background-color: #00b3ff;
}

.vue-flow__handle[nameMapAttr="12"] {
  background-color: #0066ff;
}

.vue-flow__handle[nameMapAttr="13"] {
  background-color: #001aff;
}

.vue-flow__handle[nameMapAttr="14"] {
  background-color: #3300ff;
}

.vue-flow__handle[nameMapAttr="15"] {
  background-color: #8000ff;
}

.vue-flow__handle[nameMapAttr="16"] {
  background-color: #cc00ff;
}

.vue-flow__handle[nameMapAttr="17"] {
  background-color: #ff00e6;
}

.vue-flow__handle[nameMapAttr="18"] {
  background-color: #ff0099;
}

.vue-flow__handle[nameMapAttr="19"] {
  background-color: #ff004c;
}

.vue-flow__edge .vue-flow__edge-path {
  stroke-width: 2;
}

.vue-flow__edge.selected .vue-flow__edge-path {
  stroke-width: 4;
}

.nf-style-overflow-hidden {
  overflow: hidden !important;
}

.nf-style-display-none {
  display: none !important;
}

.theme-hope-content > div:first-child > .normal-size:first-child > .nf-shell-mini {
  height: 900px;
}

.dd-button {
  --dd-button-height: 24px;
  height: var(--dd-button-height);
  position: relative;
  display: inline-block;
}

.dd-button button {
  height: 100%;
  border: none;
  border-radius: 5px;
}

.dd-button > button.dd-button-main {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dd-button > button.dd-button-dropdown {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0;
  padding-right: 0;
  width: 14px;
}

.dd-button > .dd-button-menu {
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 2px 0 0;
  min-width: 100%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dd-button > .dd-button-menu > button {
  height: var(--dd-button-height);
  margin-bottom: 4px;
}

.dd-button .fade-enter-active, .dd-button .fade-leave-active {
  transition: opacity .2s;
}

.dd-button .fade-enter, .dd-button .fade-leave-to {
  opacity: 0;
}
