# vscode
# .vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
dist
/main.js
/styles.css
*/NodeFlowObsidian/main.js
*/NodeFlowObsidian/styles.css

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# src里面的.css后面还得编译一次再压缩，没必要保留min版本
src/**/*.min.css

/tmp/
/temp/
