/**
 * 自定义样式的位置
 * 
 * 你不应该直接编辑style.css文件，而应该编辑该文件，因为style.css文件还需要集成vue组件的css内容
 * 
 * 流程：vue组件的样式首先会生成在main.css中，然后src/style/main.css需要合并main.css再一起输出到styles.css中
 */

@import "../../main.css"; /* 不能删除 */

#app {
  font-family: 'JetBrains Mono', monospace;
}
.nf-shell-mini {
  height: 400px;
  border: 1px solid currentColor;
  border-radius: 8px;
}
.nf-shell-view {
  height: 100%;
}
.nf-toolbar {
  height: 24px;
}
.nf-toolbar>button {
  height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 4px;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid transparent;
  outline: none;
}
